fastapi
python-dotenv
redis
psycopg2-binary
elasticsearch
sqlalchemy
asyncpg
openai
anthropic
jinja2
pydantic
pydantic-settings
uvicorn
pytest
pytest-asyncio
langchain
langchain-core
langchain-groq
langsmith
requests
opensearch-py
httpx
httpx2
